<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nuevo departamento</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">
      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/department">
            <small>Departamentos</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/department/new">
            <small>Nuevo departamento</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form action="/backoffice/department/<%= id %>" method="post" id="create-client-form">
          <input type="text" hidden id="id" name="id" value="<%= id %>">
          
          <label for="name">Nombre:</label>
          <input type="text" name="name" id="name" class="input" required>

          <button type="submit" class="button primary">Nuevo departamento</button>
        </form>
      </section>
    </main>
  </div>

  <script>
    document.getElementById('create-client-form').addEventListener('submit', function(event) {
      event.preventDefault();

      swal({
        title: '¿Estás seguro?',
        text: 'Estás a punto de crear un nuevo departamento. ¿Deseas continuar?',
        buttons: true,
        dangerMode: true,
      }).then((accepted) => {
        if (accepted) {
          this.submit();
        }
      });
    });
  </script>
</body>
</html>
