<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva encuesta</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/survey">
            <small>Encuestas</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/survey/new">
            <small>Nueva encuesta</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form action="/backoffice/survey/<%= id %>" method="post" id="survey-form">
          <div id="survey-title">
            <input type="hidden" name="id" value="<%= id %>">
            <input 
              type="text" 
              name="title" 
              class="input" 
              placeholder="Titulo de la encuesta" 
              required 
              maxlength="80" 
              pattern="^[A-Za-z]{1,50}$"
            >

            <input type="text" name="description" class="input" placeholder="Descripción de la encuesta" maxlength="80" pattern="^[A-Za-z]{1,50}$">

          </div>

      
        
          <div id="question-creator">
            <button class="button" type="button" id="create-option">Varias opciones</button>
            <button class="button" type="button" id="create-open">Respuesta corta</button>
          </div>

          <div class="question-list" id="question-list">

          </div>

          <button type="submit" class="button primary">Crear encuesta</button>
        </form>
      </section>
    </main>
  </div>

  <script src="/js/survey.js"></script>
</body>
</html>
