#answer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#survey-content {
  width: 700px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

#send-answer {
  width: 200px;
  align-self: center;
}

@media (max-width: 600px) {
  #send-answer {
    width: 100%;
  }
}


@media (max-width: 600px) {
  #survey-content {
    width: 95vw;
  }
}

#survey-desc {
  width: 100%;
  background-color: #ffffff;
  min-height: 120px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  margin-top: 10px;
  border-radius: 3px;
  border-top: 3px solid #f8a900;
}

#logo-survey {
  width: 150px;
  align-self: center;
}

.border {
  border-left: 3px solid #f8a900;
}

.survey-question {
  width: 100%;
  min-height: 120px;
  background-color: #ffffff;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.survey-question .input {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 1px;
}

.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5px;
}

.answer-option label {
  font-size: 13px;
}
