.itinerary-page {
  width: 100% !important;
  height: 100% !important;
}

#itinerary-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#itinerary-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#itinerary-title {
  width: 550px;
  height: 180px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#itinerary-title .input {
  width: 70%;
}

.point-list {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

#point-list-table, #point-list-table-data {
  width: 100%;
  background-color: #ffffff;

}

#invoices {
  font-size: 10px;
  width: 170px;
}

#delete-point {
  width: 30px;
}
