.end-point {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 
#point-end-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

#point-end-form h2, img {
  align-self: center;
}

#point-end-form img{
  max-width: 150px;
      height: auto;
      margin-bottom: 20px;
}
