@import url('variables.css');
@import url('components/alert.css');
@import url('components/button.css');
@import url('components/breadcrumb.css');
@import url('components/input.css');
@import url('components/table.css');
@import url('components/progress.css');
@import url('components/tag.css');
@import url('views/admin.css');
@import url('views/client.css');
@import url('views/truck.css');
@import url('views/survey.css');
@import url('views/answer.css');
@import url('views/result-survey.css');
@import url('views/itinerary.css');
@import url('views/point-end.css');
@import url('views/report.css');
@import url('views/login.css');
@import url('views/permit.css');
@import url('views/auth.css');
@import url('views/attendance.css');
@import url('views/analytics.css');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#error-view {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


body {
  background-color: var(--color-secondary);
}
