:root {
  --color-primary: #00a8e8;
  --color-secondary: #E9ECEF;
  --color-danger: #ba181b;
  --color-tertiary: #f8f9fa;
  --color-success: #008000;
  --color-warning: #fdc500;
  --color-dmc: #f8a900;
  --color-white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
