<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva sucursal</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/sucursal">
            <small>Sucursales</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/sucursal/new">
            <small>Nueva sucursal</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form action="/backoffice/sucursal/<%= id %>" method="post">
          <input type="text" hidden id="id" name="id" value="<%= id %>">
          <label for="name">Nombre:</label>
          <input type="text" name="name" id="name" class="input" required>
          <label for="address">Dirección:</label>
          <input type="text" name="address" id="address" class="input" required>
          <label for="phone">Teléfono:</label>
          <input type="text" name="phone" id="phone" class="input" required>
          <button type="submit" class="button primary">Nueva sucursal</button>
        </form>
      </section>
    </main>
  </div>
</body>
</html>
