<aside id="aside-admin">
  <a href="/backoffice">Perfil</a>
  <a href="/backoffice/client">Clientes</a>
  <a href="/backoffice/truck">Camionetas</a>
  <a href="/backoffice/sucursal">Sucursales</a>
  <a href="/backoffice/user">Usuarios</a>
  <a href="/backoffice/itinerary">Ruta</a>
  <a href="/backoffice/task">Tareas</a>
  <a href="/backoffice/survey">Encuestas</a>
</aside>
