<aside id="aside-admin">
  <img src="/images/logo.png" alt="logo" width="150px" height="150px" style="margin-top: -20px;">
  <a href="/backoffice">
    <img src="/images/icons/profile.png" width="20px" height="20px" alt="profile-logo">
    <span>Perfil</span>
  </a>
  <a href="/backoffice/client">
    <img src="/images/icons/client.png" width="20px" height="20px" alt="client-logo">
    <span>Clientes</span>
  </a>
  <a href="/backoffice/truck">
    <img src="/images/icons/truck.png" width="20px" height="20px" alt="truck-logo">
    <span>Camionetas</span>
  </a>
  <a href="/backoffice/sucursal">
    <img src="/images/icons/sucursal.png" width="20px" height="20px" alt="branch-logo">
    <span>Sucursales</span>
  </a>
  <a href="/backoffice/department">
    <img src="/images/icons/departments.png" width="20px" height="20px" alt="departments">
    <span>Departamentos</span>
  </a>
  <a href="/backoffice/user">
    <img src="/images/icons/users.png" width="20px" height="20px" alt="users-logo">
    <span>Personal</span>
  </a>
  <a href="/backoffice/attendance">
    <img src="/images/icons/att.png" width="20px" height="20px" alt="users-logo">
    <span>Faltas y retardos</span>
  </a>
  <a href="/backoffice/permit">
    <img src="/images/icons/permit.png" width="20px" height="20px" alt="permit-logo">
    <span>Admin. permisos</span>
  </a>
  <a href="/backoffice/itinerary">
    <img src="/images/icons/route.png" width="20px" height="20px" alt="route-logo">
    <span>Ruta</span>
  </a>
   <a href="/backoffice/product">
    <img src="/images/icons/web.png" width="20px" height="20px" alt="web-logo">
    <span>Productos</span>
  </a>
  <a href="/backoffice/technical">
    <img src="/images/icons/file.png" width="20px" height="20px" alt="web-logo">
    <span>Fichas técnicas</span>
  </a>
  <a href="/backoffice/task">
    <img src="/images/icons/tasks.png" width="20px" height="20px" alt="tasks-logo">
    <span>Tareas</span>
  </a>
  <a href="/backoffice/survey">
    <img src="/images/icons/survey.png" width="20px" height="20px" alt="survey-logo">
    <span>Encuestas</span>
  </a>
  <a href="/backoffice/analytics">
    <img src="/images/icons/grafic.png" width="20px" height="20px" alt="grafic-logo">
    <span>Analiticas</span>
  </a>
  <a href="/backoffice/modules">
    <img src="/images/icons/module.png" width="20px" height="20px" alt="modules-logo">
    <span>Modulos</span>
  </a>
</aside>
