<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <%- include('partials/_leftbar') %>
    
    <main id="main-admin">

      <header id="admin-info">
        <section id="name-admin">
          <h3>Bienvenido</h3>
          <p><%= user.firstName %> <%= user.lastName %></p>
          <small><%= user.job %></small>
        </section>

        <form action="/logout" method="post">
          <input type="text" value="1" name="id" hidden>
          <button id="logout" class="button primary">Cerrar sesión</button>
        </form> 
      </header>
    
      <section id="admin-tasks">
        <div class="task-list">
          <div class="task-title">
            <small>Tareas asignadas</small>
          </div>

          <div class="tasks">
            <% for(let i = 0; i < 10; i++) { %>
              <div class="task">
                <header>
                  <p>Nombre de la tarea</p>
                  <small>Fecha de termino: 7/18/2024</small>
                </header>
                <footer>
                  <button class="button primary">Iniciar tarea</button>
                </footer>
              </div>
            <% } %>
          </div>
        </div>

        <div class="task-list">
          <div class="task-title">
            <small>Tareas en progreso</small>
          </div>

          <div class="tasks">
            <% for(let i = 0; i < 5; i++) { %>
              <div class="task">
                <header>
                  <p>Nombre de la tarea</p>
                  <small>Fecha de termino: 7/18/2024</small>
                </header>
                <footer>
                  <button class="button primary">Continuar tarea</button>
                </footer>
              </div>
            <% } %>
          </div>
        </div>

        <div class="task-list">
          <div class="task-title">
            <small>Tareas concluidas</small>
          </div>

          <div class="tasks">
            <% for(let i = 0; i < 3; i++) { %>
              <div class="task">
                <header>
                  <p>Nombre de la tarea</p>
                  <small>Fecha de termino: 7/18/2024</small>
                </header>
              </div>
            <% } %>
          </div>
        </div>

        <div class="task-list">
          <div class="task-title">
            <small>Tareas vencidas</small>
          </div>

          <div class="tasks">
            <% for(let i = 0; i < 1; i++) { %>
              <div class="task">
                <header>
                  <p>Nombre de la tarea</p>
                  <small>Fecha de termino: 7/18/2024</small>
                </header>
                <footer>
                  <button class="button primary">Continuar tarea</button>
                </footer>
              </div>
            <% } %>
          </div>
        </div>
      </section>

    </main>
  </div>
</body>
</html>
