<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <aside id="aside-admin"></aside>
    
    <main id="main-admin">

      <header id="admin-info">
        <section id="name-admin">
          <h3>Bienvenido</h3>
          <p>Kevin Aron Tapia Cruz</p>
          <small>Software</small>
        </section>

        <button id="logout" class="button primary">Cerrar sesion</button>
      </header>
    
      <section id="admin-tasks">
        <div class="task-list">

        </div>

        <div class="task-list">

        </div>

        <div class="task-list">

        </div>

        <div class="task-list">

        </div>
      </section>

    </main>
  </div>
</body>
</html>
