// app global css in SCSS form

@import 'mapbox-gl/dist/mapbox-gl.css';

*::-webkit-scrollbar
{
	width: 2px;
}

*::-webkit-scrollbar-thumb
{
	background-color: $dark-page;
	border: 1px solid #555555;
}
