<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registrar marca</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">

      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/product">
            <small>Productos</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/product/brand/">
            <small>Marcas</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/product/tag/new">
            <small>Crear marca</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form action="/backoffice/product/brand/<%= id %>/new" method="post">
          <input type="text" hidden value="<%= id %>" name="id">
          
          <label for="name">Nombre de la marca:</label>
          <input type="text" id="name" name="name" class="input" placeholder="Nombre de la marca" required>
          
          <button type="submit" class="button primary">Nueva marca</button>
        </form>
      </section>
    </main>
  </div>
</body>
</html>
