<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Justificar incidencia</title>
  <link rel="stylesheet" href="/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <style>
    .editor-task {
      background-color: #ffffff;
    }

    #toolbar-container {
      display: flex;
      flex-direction: row;
    }

    .ql-formats {
      display: flex;
      flex-direction: row;
    }

    .ql-container {
      height: 140px;
    }
  </style>

</head>
<body>
  <div id="admin-dash">

    <%- include('../partials/_leftbar') %>
    
    <main id="main-admin">
      <header class="section-header">
        <section class="breadcrumb">
          <a href="/backoffice/attendance/myhistory">
            <small>Faltas y retardos</small>
          </a>
          <span class="breadcrumb-slash">/</span>
          <a href="/backoffice/attendance/<%= issueId %>/justify">
            <small>Justificar</small>
          </a>
        </section>
      </header>

      <section id="new-client-form">
        <form action="/backoffice/attendance/<%= issueId %>/justify" method="post" id="create-client-form">
          <input type="text" hidden id="id" name="id" value="<%= id %>">

          <input type="text" name="reason" id="reason" hidden>
          <div class="editor-task">
            <div id="toolbar-container">
              <span class="ql-formats">
                <select class="ql-font"></select>
                <select class="ql-size"></select>
              </span>
              <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
                <button class="ql-indent" value="-1"></button>
                <button class="ql-indent" value="+1"></button>
              </span>
              <span class="ql-formats">
                <button class="ql-direction" value="rtl"></button>
                <select class="ql-align"></select>
                <button class="ql-blockquote"></button>
                <button class="ql-link"></button>
              </span>
            </div>
            <div id="editor">
            </div>
          </div>

          <button type="submit" class="button primary">Justificar</button>
        </form>
      </section>
    </main>
  </div>

  <script>
    const quill = new Quill('#editor', {
      modules: {
        toolbar: '#toolbar-container',
      },
      placeholder: 'Describe el motivo de tu falta o retardo.',
      theme: 'snow',
    });

    document.getElementById('create-client-form').addEventListener('submit', function(event) {
      const descriptionInput = document.querySelector('input[name=reason]');
      
      event.preventDefault();
    
      if (quill.getLength() == 1) {
        swal({
          title: 'Error',
          text: 'Debes de proveer la justificacion',
          buttons: true,
          dangerMode: true,
        })
        return;
      }
      
      swal({
        title: '¿Estás seguro?',
        text: 'Estás a a punto de justificar. Revisa los detalles. Esta accion no se puede deshacer.',
        buttons: true,
        dangerMode: true,
      }).then((accepted) => {
        if (accepted) {
          descriptionInput.value = quill.getSemanticHTML();
          this.submit();
        }
      });
    });
  </script>
</body>
</html>
